/* Глобальные переменные для всего проекта */
:root {
  /* Цвета фона */
  --background-main: #0d0d0d; /* Основной цвет фона */
  --background-secondary: #121212; /* Вторичный цвет фона */
  --background-btn-main: #232323; /* Цвет фона кнопок */
  --background-btn-reverse: #d9d9d9; /* Инвертированный цвет фона кнопок */

  /* Цвета текста */
  --text-main: #d9d9d9; /* Основной цвет текста */
  --text-reverse: #232323; /* Инвертированный цвет текста */
  --text-secondary: #a0a0a0; /* Вторичный цвет текста */

  /* Акцентные цвета */
  --accent: #3772ff; /* Основной акцентный цвет */
  --accent-gradient: linear-gradient(90deg, #3772ff 0%, #ff1cf7 100%); /* Градиент для кнопок */

  /* Цвета статусов */
  --success: #4caf50; /* Цвет успешного действия */
  --error: #f44336; /* Цвет ошибки */
}
